
<h1 class="text-uppercase text-center bg-success">Venture Lighting private limited</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="body">
               
                    <h2 class="text-uppercase text-danger mt-5">Business Analyst section</h2>



            </div>
        </div>


<div>
        <button type="button" class="btn btn-success btn-lg" (click)="publishProd()" >To Publish</button>

    </div>
        <table class="table table-bordered mt-5 mb-3" *ngIf="isPublish" >
                <thead>
                    <tr>
                        <th>Product Department</th>
                        <th>Product Watts</th>
                        <th>Types of Lamps</th>
                        <th>Quantity</th>
                        <th>Working Supervisor</th>
                        <th>Option</th>

                    </tr>
                </thead>

       

                <tbody>
                    <tr *ngFor="let publish of publishProduct" >
                        <td>{{publish.department}}</td>
                        <td>{{publish.watts}}</td>
                        <td>{{publish.lamps}}</td>
                        <td>{{publish.quantity}}</td>
                        <td>{{publish.supervisor}}</td>
                        <td>
                            
                            <div>
                                <button type="button" class="btn btn-primary" (click)="readyForPublish(publish)" *ngIf="publish.status!='Published'"   >Publish</button>
                            </div>

                            <div>
                                <button type="button" class="btn btn-success" *ngIf="publish.status=='Published'  ">Published</button>
                            </div>



  
                            
                        </td>

                    </tr>
                </tbody>
            </table>

    </div>
</div>