.body{
    background-color: rgb(245, 160, 129);
    height:800px;
    width:60%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:100px;
    padding-right:50px;

}
.button-sec{
    padding-left:390px;
}